.header{
    position: fixed;
    z-index: 10;
    width: 100%;
    background: rgba(5, 5, 5, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4% 0 4%;
    transition: all ease 1s;

}

.header .logo{
    cursor: pointer;
    margin-right: auto;
    color: #fff;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    border-bottom: rgb(0, 0, 0);
    transition: all ease 1s;
    font-weight: 900;
    
}

.header .logo img {
    width: 90px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left:5px;
}

.header .logo h1{
    font-size: 18px;
    float: right;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 25px;
}



.header .nav_links{
    list-style: none;
}

.header .nav_links li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
    font-size: 15px;
    transition: 0.5s;
}

.header .nav_links li:hover{
    transform: scale(1.1);
    transform: translateY(-3px);
    transition: 0.5s;
}

.header .nav_links a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all ease 1s;
}

.header .nav_links li a:hover{
    transform: scale(1.2);
}

.header .btn_header button{
    margin-left: 20px;
    font-weight: 900;
    color: #fff;
    padding: 9px 25px;
    background: #33a773;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 8px;
    transition: 0.5s;
}

.header .btn_header button:hover{

    background: #42be86;
    color: #fff;
    transform: scale(1.05);
    transition: 0.5s;
}

.menu-icono img{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;
   
    float: right;

}

.menu-icono, #check{
    display: none;
}

.header.abajo{
    
    background: #fff;
    transition: all ease 1s;
    box-shadow: 0 1px 35px rgba(0, 0, 0, 0.4);
}

.header.abajo .logo h1{
    color: #000;
    transition: all ease 1s;
}

.header.abajo .nav_links a{
    color: #000;
    transition: all ease 1s;
}



@media (max-width:995px){
    .header .logo h1{
        font-size: 15px;
    }

    .menu-ham{

        display: block;
    }
    .menu-icono{

        display: block;
        position: fixed;
        top:20px;
        right: 20px;

    }
    .header ul{
        display:flex;
        position: fixed;
        top: 70px;
        background-color: rgba(5, 5, 5, 0.486);
        left:-100%;
        width: 30%;
        align-items:flex-end;
        margin: 0;

    }

    .header .logo{
        left: 5px;

    }

    .nav_resp li{
        display: flex;
        justify-content: right;
        align-items: flex-end;

    }

    .nav_resp ul li{
        display: flex;
        justify-content: right;
        padding: 34rem;


    }

    #check:checked ~ ul{
        left:0;

    }

    .nav_resp .nav_links{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-top: 19px;
        margin-left: 70%;
        transition-duration: 0.8s;
    }


}

