

.media {
  
    align-items: center;
    height: 692px;
    width: 100%;
    background: #d68a80;
    z-index: 1;
    
}


 
.banner-overlay {
    height: 692px;
    width: 100%;
    position: absolute;
    background: black;
   opacity: 20%;
   z-index: 3;
}

#contenedor-nosotros {
    width: 100%;
    background: #fff;
    align-items: center;
    height: 1000px;

}

#contenedor-nosotros .desc_general h2{
    font-size: 35px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.lalo {
    width: 100%;
    height: 350px;
    background-color: #fff;
    transition: all 1000ms ease-out;
}

.lalo .info-lalo{
    width: 50%;
    float: left;
}

.lalo .info-lalo h2{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.lalo .info-lalo p{
    font-size: 12px;
    text-align: center;
    margin: 40px;
}

.lalo .info-lalo a{
    font-size: 18px;
    color: rgb(87, 5, 238);
}

.lalo .info-lalo a:hover{
    color: rgb(238, 118, 5);
}


.lalo .img-lalo{
    width: 50%;
    float: right;
    position: relative;
}

.lalo .img-lalo img{
    width: 170px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40%;
    margin-top: 90px;
    
}

.lalo:hover{
    transform: scale(1.02);
    transition: all 1000ms ease-out;   
    background: #f3d4242f;
    box-shadow: 0px 15px 60px rgba(0, 0, 0,0.8);
}

.luisma {
    width: 100%;
    height: 350px;
    background-color: #fff;
    transition: all 1000ms ease-out;
}

.luisma .info-luisma{
    width: 50%;
    float: right;
}

.luisma .info-luisma h2{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.luisma .info-luisma p{
    font-size: 12px;
    text-align: center;
    margin: 40px;
}

.luisma .info-luisma a{
    font-size: 18px;
    color: rgb(87, 5, 238);
}

.luisma .info-luisma a:hover{
    color: rgb(238, 118, 5);
}

.lusima .img-luisma{
    width: 50%;
    float: left;
    position: relative;
}

.luisma .img-luisma img{
    width: 170px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-left: 21%;
}

.luisma:hover{
    transform: scale(1.02);
    transition: all 1000ms ease-out;   
    background: #f3d4242f;
    box-shadow: 0px 15px 60px rgba(0, 0, 0,0.9);
}


@media screen and (max-width:1100px) {
    #contenedor-nosotros{
        height: 1100px;
    }

    .lalo{
        height: 450px;
        float:none;
        display: flex;
        flex-direction: row;

    }
    .lalo .info-lalo{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .luisma{
        height: 400px;
        float:none;
        display: flex;
        flex-direction: row;

    }
    .luisma .info-luisma{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width:1040px) {
    #contenedor-nosotros{
        height: 1500px;
    }
    .lalo{
        height: 550px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .info-lalo{
        width: 100%;
        float: none;
    
    }
    .lalo .img-lalo{
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
       align-items: center;

    }

    .lalo .img-lalo img{
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;  
        margin-right: 41%;
        width: 140px;
    }

    .luisma{
        height: 550px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .info-luisma{
        width: 100%;
        float: none;
    
    }
    .luisma .img-luisma{
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
       align-items: center;
    }
    .luisma .img-luisma img{
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;  
        margin-right: 22%;
        width: 140px;
    }

}

@media screen and (max-width:600px){
    .lalo{
        height: 600px;
    }
    .luisma{
        height: 600px;
    }
}


@media screen and (max-width:500px){
    #contenedor-nosotros{
        height: 1700px;
    }
    .lalo{
        height: 700px;
    }
    .luisma{
        height: 700px;
    }
}


